body {
    background: linear-gradient(135deg, #1A1A2E, #16213E);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    background: rgba(255, 255, 255, 0.2);
    width: 600px; /* Increased width */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h2, label, p {
    color: #fff;
    margin: 10px 0;
}

#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
}

button {
    background: linear-gradient(90deg, #8C52FF, #6A36FF);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: linear-gradient(90deg, #6A36FF, #8C52FF);
}

#temp-div p {
    font-size: 60px;
    margin-top: 10px;
}

#weather-icon {
    width: 180px;
    height: 180px;
    margin: 10px auto;
    display: none;
}

#hourly-forecast {
    display: flex;
    overflow-x: auto;
    padding: 10px;
}

.hourly-item {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 8px;
    margin-right: 10px;
    color: white;
    text-align: center;
}

.hidden {
    display: none;
}
